# Rust

target/
debug/
Cargo.lock

# Ides
.idea
.vscode

# env
.env

# output
output/autor_libro.csv
output/autor_tesis.csv
output/autor.csv
output/departamento.csv
output/editorial.csv
output/estudiante.csv
output/libro_autor_tesis.csv
output/libro.csv
output/prestamo.csv
